body {
    position: absolute;
    left: 28px;
    /*    transform: scale(0.7);*/
}

area,
img.pointer {
    cursor: pointer;
}

#rahmen {
    pointer-events: none;
    z-index: 300;
    margin-left: -60px;
    margin-top: -15px
}

.top {
    position: fixed;
    padding-left: 28px;
    padding-top: 50px;
    z-index: 200;
    display: block;
}

.scroll {
    display: block;
    position: absolute;
    top: 120px;
    height: 623px;
    width: 325px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
}

.load {
    position: absolute;
    top: 460px;
    width: 500px;
    left: 500px;
    transform: scale(2.8, 0.5);
}

.einstellungen_scroll {
    position: absolute;
    top: 200px;
    height: 520px;
    width: 325px;
    z-index: 200;
    overflow-x: hidden;
    overflow-y: auto;

}
